
footer{
    margin-top:2%;
    height:120px;
    width:100%;
    background-color:#3b2632;
    color: white;
    text-align: center;
    display: inline-block;
}


ul{
    list-style: none;
}

.footDiv{
    float:left;
    width:32%;
    border-right: 2px solid white;
}

.noborder{
    border:none
}

@media screen and (max-width:1600px){
    body{
        background-color:rgb(221, 203, 236);
    }
}