#quickSearch{
    width:80%;
    margin-left: 10%;
    margin-top: 2%;
    
}

#QuickHeading{
    color:#3b2632;
    display:block;
    font-size:30px;
    font-weight:bold;
    font-family:Georgia, 'Times New Roman', Times, serif;
    margin-left:1%
}

#QuickSubHeading{
    line-height:3;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color:gray;
    font-size:20px;
    position:absolute;
    margin-left:1%
}

.tileContainer{
    height:180px;
    width:31%;
    display:inline-block;
    margin-top:5%;
    margin-left:1%;
    box-shadow: 10px 20px 10px #3b2632;
}

.tileComponent1{
    width:52%;
    float:left;
}

.tileComponent1>img{
    width:100%;
    height:180px;
}

.tileComponent2{
    width:45%;
    float:left;
    margin-left: 3%;
    margin-top: 13%;
}

.componentHeading{
    color:#3b2632;
    font-size: 25px;
}

.componentHeading span{
    color:#3b2632 !important;
}

.componentSubHeading{
    color:gray;
    font-size: 20px;
}